<html>
    <head>

        
    </head>
    <body>
        <div id="container">
            <div id="content">
                <form method="get" action="/day-order">
                  
                  <label for="date">Enter date:</label>
                  <input type="text" name="date" /><br />
                  
                  <label for="month">Enter month:</label>
                  <input type="text" name="month" /><br />
                  
                  <label for="year">Enter year:</label>
                  <input type="text" name="year" /><br />
                  
                  <input type="submit" />
                </form>
            </div>
           
        
            </div>
        </div>
    </body>
</html>
 