<html>
    <head>
    	<title>Find day order on....</title>
		<script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="content">
                <form method="get" action="/day-order">
                  
                  <label for="date">Enter date:</label>
                  <input type="text" name="date" /><br />
                  
                  <label for="month">Enter month:</label>
                  <input type="text" name="month" /><br />
                  
                  <label for="year">Enter year:</label>
                  <input type="text" name="year" /><br />
                  
                  <input type="submit" />
                </form>
            </div>
            </div>
        </div>
<a class="github-button" href="https://github.com/varundey" data-style="mega" data-count-href="/varundey/followers" data-count-api="/users/varundey#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @varundey on GitHub">Follow @varundey</a>

<a class="github-button" href="https://github.com/varundey/srm-day_order/fork" data-icon="octicon-repo-forked" data-style="mega" data-count-href="/varundey/srm-day_order/network" data-count-api="/repos/varundey/srm-day_order#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork varundey/srm-day_order on GitHub">Fork</a>

<a class="github-button" href="https://github.com/varundey/srm-day_order" data-icon="octicon-star" data-style="mega" data-count-href="/varundey/srm-day_order/stargazers" data-count-api="/repos/varundey/srm-day_order#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star varundey/srm-day_order on GitHub">Star</a>
    </body>
</html>
 